<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="google-site-verification" content="mupe8bx-mG12V_O1X2thp05ebHV7BrLVpLlwHhonFS4" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deaguero.org</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="/favicon.ico">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<body>
<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Deaguero.org</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						{% if user.id %}
						<p class="navbar-text">Logged in as&nbsp;{{user.displayName}}&nbsp;<a href="/logout">Logout</a>&nbsp;</p>
						{% else %}
						<p class="navbar-text">Welcome,&nbsp;{{user.displayName}}&nbsp;<a href="/auth/google">Login</a>&nbsp;</p>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Joel Deaguero</h3>
	  </div>
	  <div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-xs-6" style="max-width: 300px">
					<img src="static/Joel_Profile.jpg" alt="Picture of Joel" class="img-responsive"></img>
				</div>
				<div class="col-lg-8 col-xs-12 col-sm-6">
					<p>
						Joel has been a software developer for over 20 years.
						<br/><br/>
						He's worked for Microsoft, United Parcel Service, Xbox, Blizzard Entertainment, and is currently building this website for fun.
						<br/><br/>
						It's under construction!
					</p>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Kassia Deaguero</h3>
	  </div>
	  <div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-xs-6" style="max-width: 300px">
					<img src="static/Kassia_Profile.jpg" alt="Picture of Kassia" class="img-responsive"></img>
				</div>
				<div class="col-lg-8 col-xs-12 col-sm-6">
					<p>
						Kassia is a software quality assurance analyst who loves breaking things.  Especially if Joel wrote them.
					</p>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-footer">
				<p class="navbar-text">
					Coded with love by Joel and Kassia Deaguero.  Thanks to CentOS, GitHub, JavaScript, Node.js and Bootstrap!
				</p>
			</div>
			<div>
				<p class="navbar-text navbar-right"><a href="https://github.com/joeldeaguero/deaguero-org">GitHub</a>&nbsp;</p>
			</div>
		</div>
	</nav>
</div>
</body>
</html>
