<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deaguero.org</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<style>
  body {
    padding: 10px;
  }
  @media (max-width: 980px) {
    body {
      padding: 0;
    }
  }
</style>
</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Deaguero.org</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/auth/google">Login</a></li>
			</ul>
		</nav>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Joel Deaguero</h3>
	  </div>
	  <div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4" style="max-width: 200px">
					<img src="static/Joel_Profile.jpg" alt="Picture of Joel" class="img-responsive"></img>
				</div>
				<div class="col-md-8">
					<p>
						Joel has been a software developer for over 20 years.
						<br/><br/>
						He's worked for Microsoft, United Parcel Service, Xbox, Blizzard Entertainment, and is currently building this website for fun.
						<br/><br/>
						It's under construction!
					</p>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
		<h3 class="panel-title">Kassia Deaguero</h3>
	  </div>
	  <div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4" style="max-width: 200px">
					<img src="static/Kassia_Profile.jpg" alt="Picture of Kassia" class="img-responsive"></img>
				</div>
				<div class="col-md-8">
					<p>
						Kassia is a software quality assurance analyst who loves breaking things.  Especially if Joel wrote them.
					</p>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-footer">
				<p class="navbar-text">
					Designed and built by Joel and Kassia Deaguero, with special thanks to CentOS, GitHub, JavaScript, Node.js and Bootstrap.
				</p>
				<p class="navbar-text">
					<span><a href="https://github.com/joeldeaguero/deaguero-org">GitHub</a></span>
				</p>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
